.dashboard-content{
flex:1;
padding:40px;
overflow:hidden;
}

.moving-text{
font-size:32px;
font-weight:bold;
white-space:nowrap;
display:inline-block;
animation: moveText 8s linear infinite;
}

@keyframes moveText{
0%{
transform: translateX(-100%);
}

100%{
transform: translateX(100%);
}
}
.moving-heading {
  position: relative;
  animation: moveX 4s linear infinite alternate;
}

@keyframes moveX {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(200px);
  }
}



